

/* button, .item.submitButton {
    font-family: 'Contrail One', cursive !important;
    color: white !important;
    text-transform: uppercase !important;
    border: none !important;
    padding: 5px !important;
    background-color: #d30b0d !important;
    margin-left: 19% !important;
    width: 500px;
  }
 */




.menu.item, .searchBar {
    position: absolute !important;
    right: 0 !important;
}