body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.inlineButtons {
  width: 100%;
}

#submissionButton {
  display: inline-block !important;
  margin-left: 60%;
  margin-top: -5px;
}

.shareButtons {
  display: inline-block !important;
  margin: 10px 5px 5px 5px;
}