body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.inlineButtons {
  width: 100%;
}

#storyButton {
  display: inline-block !important;
  margin-left: 50% !important;
  margin-bottom: 1% !important;
  margin-top: 0px !important;
  background-color: #428bca !important;
  font-size: 24px !important;
  padding: 15px 0px !important;
  width: 300px !important;
}

.shareButtons {
  display: inline-block !important;
  margin: 10px 5px 5px 5px;
}

.social-icon {
  margin-top: 15px;
}

.ui.search,
.searchBar {
  float: right !important;
}

.ui.modal > .header {
  font-family: 'Contrail One' !important;
  text-transform: uppercase !important;
  background: none;
}


.ui.form > .field.label {
  font-family: 'Contrail One' !important;
  text-transform: uppercase !important;
  color: #d30b0d !important;
}

.ui.modal>.header:not(.ui) {
  font-size: 1.42857143rem;
  line-height: 1.28571429em;
  font-weight: 700;
  background:  #d30b0d !important;
  color: white !important;
}