.list-group-item {
    max-width: 960px;
    width: 100%;
    display: block;
    padding: 20px;
}

.list-group-item h1 {
    font-size: 18pt;
    font-style: oblique;
}

.list-group-item p {
    font-size: 12pt;
}

.list-group-item h4 {
    font-size: 10pt;
    font-weight: bold;
    line-height: 10px;
}